-r requirements.txt  # Include all main dependencies

# Development dependencies
copychat>=0.5.2
dirty-equals>=0.9.0
fastapi>=0.115.12
ipython>=8.12.3
pdbpp>=0.10.3
pre-commit
pyinstrument>=5.0.2
pyright>=1.1.389
pytest>=8.3.3
pytest-asyncio>=0.23.5
pytest-cov>=6.1.1
pytest-env>=1.1.5
pytest-flakefinder
pytest-httpx>=0.35.0
pytest-report>=0.2.1
pytest-timeout>=2.4.0
pytest-xdist>=3.6.1
ruff
